@font-face {
    font-family: "Title";
    src: url('../fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format("truetype");
}
@font-face {
    font-family: "handwriting";
    src: url('../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Luxary";
    src: url('../fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format("truetype");
}
@font-face {
    font-family: "super_cringe";
    src: url('../fonts/Fredoka_One/FredokaOne-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "super-bold";
    src: url('../fonts/Anton/Anton-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "fancy-words";
    src: url('../fonts/Lobster/Lobster-Regular.ttf') format("truetype");
}

body{
    background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}
.main{
    width: 100%;
    height:615px;
    background-color: rgba(0, 0, 0, 0.767);

}
header{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 200px;
    color: white;
    font-family: Title;
    float:left;

}
nav{
    float:right;
    padding-top: 10px;
    padding-right: 200px;
    word-spacing: 10px;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.title{
    color: white;
    font-size:40px;
    display: block;
    padding-top: 280px;
    padding-left: 200px;
}
.front-end{
    font-family: fancy-words;

}





