
header{
    background-color: #52A7F9;
    height:25px;
    width:100%;
    color:white;
    padding : 25px;
}
aside{
    background-color: #B36AE2;

}
article{
    background-color:#6FC041
}
.twin{
    background-color:#F3901A
}
footer{
    background-color: #0365C0;
    height:20px;
    width:100%;
    color:white;
    padding : 20px;
}
