
header{
    background-color: #52A7F9;
    height:25px;
    width:100%;
    color:white;
    padding : 25px;
}
aside{
    float: right;
    background-color: #B36AE2;
    width:33%;

}
article{
    background-color:#6FC041;
    width:67%;
    float: left;
    color:white;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.twin{
    background-color:#F3901A;
    width: 67%;
    padding: 50px;
}
footer{
    background-color: #0365C0;
    height:20px;
    width:100%;
    color:white;
    padding : 20px;
}
section{
    margin-right:20% ;
    margin-left: 20%;

}